.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.skill-card img {
  width: 7rem;
  height: 7rem;
}

.skill-card p {
  color: #000;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
