#projects-body {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 3.75rem 2.5rem;
    gap: 3.125rem;
    justify-content: center;
    background: #f4f4f9;
    align-items: center;
}
